body {
    font-family: Euclid Circual A Regular, sans-serif;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .nav-link {
    font-size: 1.3rem;
  }
  
  .about-us {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-content {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    line-height: 1.5; 
  }
  
  .about_us_image {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 5px;
  
  }
  
  .header {
    background-color: #ffd07b;
    margin-bottom: 50px;
  }
  
  .top-products {
    width: 90%;
    margin: auto;
  }
  
  .btn {
    background-color: #ffd07b;
  }
  .btn:hover {
    background-color: #ffdb99;
  }
  
  .in-your-city {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  
  .all-products {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  
  .testimonials {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  
  .card-img-top {
    height: 300px;
  }
  
  .testimonial-image {
    height: 400px;
  }
  
  .testimonial-pera {
    background-color: #ffdb99;
    padding: 5px;
    border-radius: 5px;
  
  }
  
  
  .footer {
    margin-top: 50px;
  
    background-color: #ffd07b;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer .left {
    flex: 1;
  }
  
  .footer .social {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
  
  .footer .social a {
    text-decoration: none;
    color: black;
  }
  
  .footer .newsletter {
    flex: 1;
  }
  
  .footer .newsletter input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .footer .newsletter input[type="submit"] {
    background-color: #ffdb99;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  